<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todostyle.css') }}">
</head>
<body>
    <div class="container">
        <h2>To-Do List</h2>
        <form action="/add_task" method="POST">
            <div class="input-container">
                <input type="text" name="task" placeholder="Enter a task" required>
                <button type="submit">Add Task</button>
            </div>
        </form>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task }} 
                    <a href="/edit_task/{{ task }}">Edit</a>
                    <a href="/delete_task/{{ task }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
        {% if edit_task is not none %}
        <form action="/update_task/{{ edit_task }}" method="POST">
            <div class="input-container">
                <input type="text" name="updated_task" value="{{ edit_task }}" required>
                <button type="submit">Update Task</button>
            </div>
        </form>
        {% endif %}
    </div>
</body>
</html>